<div class="container">

<p class="title">Add Ingredient</p>

<form role="form" name="formAddIngredient" ng-submit="submitAddIngredient()" ng-controller="AddIngredientFormCtrl" novalidate>

<p class="sub-title">Identity</p>
<div class="row" ng-cloak>

  <div class="col s12 m4 l3">

    <div class="ratio-container" id="containerPreviewImage">
      <div class="ratio-4_3 background-image" id="previewImage" ng-click="simulateClickFile();" ng-style="{'background-image': 'url(/images/default-preview.png)'}"></div>
    </div>

    <input class="hidden" id="uploadImage" type="file" file-model="photoIngredient"/>
  </div>

  <div class="col s12 m7 l8 offset-m1 offset-l1">

    <div class="row">
      <div data-ng-repeat="(k, v) in categories_mapper track by $index" ng-style="$index == 0 && {'background-color': v.color}" ng-click="changeCategory($event, k)" class="col s4 m3 l2 categories">
        {{ v.name }}
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input required ng-model="nameIngredient" name="nameIngredient" type="text">
        <label for="nameIngredient">Name</label>
      </div>
    </div>


  </div>
</div>

<!-- Season -->
<div ng-if="categoryIngredient == 'fruit' || categoryIngredient == 'vegetable'">
  <p class="sub-title">Season</p>
  <div class="row" >
    <div class="col s2 m2 l1 month" data-ng-repeat="m in months track by $index" ng-class="m.active ? 'month-selected' : ''" ng-click="changeMonth($index);">
      {{ m.name }}
    </div>
  </div>
</div>

<!-- Content -->
<p class="sub-title">Content</p>
<!-- Nutrition -->
<p class="sub-title">Nutrition</p>


<div style="text-align: center">
  <button type="submit" class="waves-effect waves-light btn">Add Ingredient</button>
</div>




</form>





<script>
$(document).ready(function() {
  $("#uploadImage").change(function(){
    if (this.files && this.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
          $('#previewImage').css('background-image', 'url(' + e.target.result + ')');
      }
      reader.readAsDataURL(this.files[0]);
    }
  });
});

</script>
