<div class="container-fluid">

<div class="panel panel-default">
    <div class="panel-body">

  <paper-tabs selected="1">
<paper-tab onclick="location.href='#/editUser'">My profile</paper-tab>
<paper-tab>Avatar</paper-tab>
<paper-tab onclick="location.href='#/changePasswordUser'">Change password</paper-tab>

  </paper-tabs>


<form ng-controller="ChangePasswordFormCtrl" role="form" name="formChangePassword" ng-submit="submitChangePassword(formChangePassword.$valid)" novalidate>

  <!-- input current password -->
  <div class="form-group" style="margin-top: 35px;">
    <div class="form-control-wrapper">
      <input class="form-control empty" ng-change="badCurrentPassword = false" required ng-model="changePasswordInputCurrentPassword" name="changePasswordInputCurrentPassword" type="password">
      <div class="floating-label">Current password</div>
      <span class="material-input"></span>
    </div>
    <div class="has-error-block" ng-show="submitted && formChangePassword.changePasswordInputCurrentPassword.$error.required">The current password is required and cannot be empty.</div>
    <div class="has-error-block" ng-show="submitted && badCurrentPassword">The password you gave is incorrect.</div>

  </div>

  <!-- input new password -->
  <div class="form-group" style="margin-top: 35px;">
    <div class="form-control-wrapper">
      <input class="form-control empty" ng-change="passwordDontMatch = false" required ng-model="changePasswordInputNewPassword" name="changePasswordInputNewPassword" type="password">
      <div class="floating-label">New password</div>
      <span class="material-input"></span>
    </div>
    <div class="has-error-block" ng-show="submitted && formChangePassword.changePasswordInputNewPassword.$error.required">The new password is required and cannot be empty.</div>
    <div class="has-error-block" ng-show="submitted && !formChangePassword.changePasswordInputNewPassword.$error.required && formChangePassword.changePasswordInputNewPassword.$invalid">The password must be at least 6 characters long.</div>
  </div>

  <!-- input confirm new password -->
  <div class="form-group" style="margin-top: 35px;">
    <div class="form-control-wrapper">
      <input class="form-control empty" ng-change="passwordDontMatch = false" required ng-model="changePasswordInputConfirmNewPassword" name="changePasswordInputConfirmNewPassword" type="password">
      <div class="floating-label">Confirm new password</div>
      <span class="material-input"></span>
    </div>
    <div class="has-error-block" ng-show="submitted && formChangePassword.changePasswordInputConfirmNewPassword.$error.required">The confirm new password is required and cannot be empty.</div>
    <div class="has-error-block" ng-show="submitted && !formChangePassword.changePasswordInputConfirmNewPassword.$error.required && formChangePassword.changePasswordInputConfirmNewPassword.$invalid">The password must be at least 6 characters long.</div>
    <div class="has-error-block" ng-show="submitted && passwordDontMatch">The new passwords don't match.</div>
  </div>

  <button style="margin-top: 35px;" type="submit" class="btn btn-danger">Change password</button>

</form>


    </div>
</div>



</div>
