<div class="home-bandeau">
  <div class="container">
    <div class="row">
      <div class=" col l6 offset-l3 m8 offset-m2 s12 home-search-bar-border">
        <div class="input-group">
            <input class="input-text-default" type="text" placeholder="Find Everything on Nourriture..."/>
            <i class="mdi-action-search icon-search-bar"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <br /> <br />
  <p ng-show="apiFactory.getToken()">Vous êtes connecté !</p>
  <p ng-show="!apiFactory.getToken()">Vous n'êtes pas connecté !</p>
</div>
