<div class="home-bandeau">
    <div class="row">
      <div class=" col l6 offset-l3 m8 offset-m2 s12 home-search-bar-border">
        <div class="input-group">
            <input class="input-text-default" type="text" placeholder="Find Everything on Nourriture..."/>
            <i class="mdi-action-search icon-search-bar"></i>
        </div>
        <div class="container-horizontal-list" style="margin-top: 10px;">
          <ul>
            <li><a href="#/ingredients" ng-click="changeCategory('all')" ng-class="selectedCategory == 'All' ? 'container-horizontal-list-selected' : ''">All</a></li>
            <li data-ng-repeat="(k, v) in categories_mapper">
              <a href="#/ingredients" ng-click="changeCategory(k)" ng-class="selectedCategory == v.name ? 'container-horizontal-list-selected' : ''">{{ v.name }}</a/>
            </li>
          </ul>
        </div>
      </div>
    </div>
</div>



<div class="container" style="background-color: white;">
  <div class="row">

    <div ng-repeat="ingredient in ingredients" class="col s12 m6 l3" style="padding: 25px;">
      <a ng-href="#/ingredient/{{ ingredient._id }}">
        <div class="ratio-container">
          <div class="ratio-4_3 background-image" ng-style="{'background-image': 'url(http://nourriture.dennajort.fr{{ingredient.photo_url}})'}"></div>
        </div>
      </a>
    </div>

  </div>
</div>
