<!--
<div class="home-bandeau">
    <div class="row">
      <div class=" col l6 offset-l3 m8 offset-m2 s12 home-search-bar-border">
        <div class="input-group">
            <input class="input-text-default" type="text" placeholder="Find Everything on Nourriture..."/>
            <i class="mdi-action-search icon-search-bar"></i>
        </div>
        <div class="container-horizontal-list" style="margin-top: 10px;">
          <ul>
            <li><a href="#/ingredients" ng-click="changeCategory('all')" ng-class="selectedCategory == 'All' ? 'container-horizontal-list-selected' : ''">All</a></li>
            <li data-ng-repeat="(k, v) in categories_mapper">
              <a href="#/ingredients" ng-click="changeCategory(k)" ng-class="selectedCategory == v.name ? 'container-horizontal-list-selected' : ''">{{ v.name }}</a/>
            </li>
          </ul>
        </div>
      </div>
    </div>
</div>
-->


<div class="container">
  <div class="row" style="margin-top: 30px;">
    <ul>
    <li class="col l4 m12 s12" style="margin-bottom: 20px;">
      <div class="ratio-container">
        <div class="ratio-4_3 background-image background-image-zoom" ng-style="{'background-image': 'url(/images/category_fruit.jpg)'}"></div>
        <div class="ingredients-category-banner ingredients-category-banner-fruits">
          <a href="" ng-click="changeCategory('fruit')" class="ingredients-category-banner-text">{{ categories_mapper['fruit'].name }}</a>
        </div>
      </div>
    </li>

    <li class="col l4 m12 s12" style="margin-bottom: 20px;">
      <div class="ratio-container">
        <div class="ratio-4_3 background-image background-image-zoom" ng-style="{'background-image': 'url(/images/category_vegetable.jpg)'}"></div>
        <div class="ingredients-category-banner ingredients-category-banner-vegetables">
          <a href="" ng-click="changeCategory('vegetable')" class="ingredients-category-banner-text">{{ categories_mapper['vegetable'].name }}</a>
        </div>
      </div>
    </li>

    <li class="col l4 m12 s12" style="margin-bottom: 20px;">
      <div class="ratio-container">
        <div class="ratio-4_3 background-image background-image-zoom" ng-style="{'background-image': 'url(/images/category_fish.jpg)'}"></div>
        <div class="ingredients-category-banner ingredients-category-banner-fish">
          <a href="" ng-click="changeCategory('fish')" class="ingredients-category-banner-text">{{ categories_mapper['fish'].name }}</a>
        </div>
      </div>
    </li>
    </ul>
  </div>

  <div class="row">

    <div class="col l3 s12">
      <div class="row">
        <div class="ingredients-menu-sub-title">Categories</div>
        <ul>
          <li class="category-li"><a href="#/ingredients" ng-click="changeCategory('all')" ng-class="selectedCategory == 'All' ? 'category-li-selected' : ''">All</a></li>
          <li class="category-li" data-ng-repeat="(k, v) in categories_mapper">
            <a href="#/ingredients" ng-click="changeCategory(k)" ng-class="selectedCategory == v.name ? 'category-li-selected' : ''">{{ v.name }}</a/>
          </li>
        </ul>

      </div>
      <div class="row">
        <div class="ingredients-menu-sub-title">Popular Tags</div>
      </div>

    </div>

    <div class="col l9 s12">
        <div class="row ingredients-menu-sub-title">
          Ingredients <span class="ingredients-nb-elements">(<span class="second-color">{{ nbElements }}</span>)</span>
          <i ng-click="switchView('list')" ng-class="{'ingredients-switch-view-selected': modeDisplay == 'list'}" class="ingredients-switch-view fa fa-th-list hide-on-med-and-down" style="margin-left: 10px;"></i>
          <i ng-click="switchView('module')" ng-class="{'ingredients-switch-view-selected': modeDisplay == 'module'}" class="ingredients-switch-view fa fa-th hide-on-med-and-down"></i>
        </div>
        <div class="row">
          <ul>
            <!-- display module only medium and large -->
            <li ng-repeat="ingredient in ingredients" class="col s12 m6 l4 ingredient-li hide-on-large-only" ng-show="modeDisplay == 'list'">
              <div class="ratio-container">
                <a ng-href="#/ingredient/{{ ingredient.id }}">
                  <div class="ratio-4_3 background-image" style="background-size: 90%" ng-style="{'background-image': 'url(http://nourriture.dennajort.fr{{ingredient.photo_url}})'}"></div>
                </a>
              </div>
              <div class="row ingredient-li-content">
                <div class="ingredient-li-content-name">{{ ingredient.name }}</div>
                <div class="ingredient-li-content-category" style="color: {{ categories_mapper[ingredient.category].color }}">{{ ingredient.category }}</div>
                <div class="ingredient-li-content-description">{{ ingredient.description | limitTo : 92 }}...</div><br/>
              </div>
            </li>

            <!-- display module -->
            <li ng-repeat="ingredient in ingredients" class="col s12 m6 l4 ingredient-li" ng-show="modeDisplay == 'module'">
              <div class="ratio-container">
                <a ng-href="#/ingredient/{{ ingredient.id }}">
                  <div class="ratio-4_3 background-image" style="background-size: 90%" ng-style="{'background-image': 'url(http://nourriture.dennajort.fr{{ingredient.photo_url}})'}"></div>
                </a>
              </div>
              <div class="row ingredient-li-content">
                <div class="ingredient-li-content-name">{{ ingredient.name }}</div>
                <div class="ingredient-li-content-category" style="color: {{ categories_mapper[ingredient.category].color }}">{{ ingredient.category }}</div>
                <div class="ingredient-li-content-description">{{ ingredient.description | limitTo : 92}}...</div><br/>
              </div>
            </li>

            <!-- display list -->
            <li ng-repeat="ingredient in ingredients" class="col s12 m12 l12 ingredient-li-horizontal hide-on-med-and-down" ng-show="modeDisplay == 'list'">
              <div class="col s4 m4 l4 no-padding ratio-container ingredient-li-horizontal-container">
                <a ng-href="#/ingredient/{{ ingredient.id }}">
                  <div class="ratio-4_3 background-image" style="background-size: 90%" ng-style="{'background-image': 'url(http://nourriture.dennajort.fr{{ingredient.photo_url}})'}"></div>
                </a>
              </div>
              <div class="col s8 m8 l8 no-padding ingredient-li-horizontal-content ingredient-li-horizontal-container">
                <div class="ingredient-li-horizontal-content-name">{{ ingredient.name }}</div>
                <div class="ingredient-li-horizontal-content-category" style="color: {{ categories_mapper[ingredient.category].color }}">{{ ingredient.category }}</div>
                <div class="ingredient-li-content-description">{{ ingredient.description | limitTo : 200}}...</div>
              </div>
            </li>
          </ul>


        </div>
        <div class="row ingredients-pagination-container">
          <i class="mdi-image-navigate-before ingredients-pagination-btn" ng-click="goPreviousPage()" ng-show="canGoPreviousPage()"></i>
          {{ currentPage + 1 }} / {{ nbPage }}
          <i class="mdi-image-navigate-next ingredients-pagination-btn" ng-click="goNextPage()" ng-show="canGoNextPage()"></i>
        </div>
    </div>

  </div>
</div>
