<div class="container" ng-if="loaded">
  <div class="row">

    <!-- Table contents left -->
    <div class="col hide-on-small-only m3 l2">
      <div style="height: 1px;" id="magic-table-of-contents-line">
        <ul class="table-of-contents" scrolltableofcontentsingredient resizetableofcontentsingredient>
          <li>
            <div class="ratio-container" style="padding: 8px 18px; width: auto;">
              <div class="ratio-4_3 background-image" ng-style="{'background-image': 'url(http://nourriture.dennajort.fr{{ingredient.photo_url}})'}"></div>
            </div>
          </li>
          <li><a du-scrollspy="presentation" du-smooth-scroll offset='100' href="#presentation">Presentation</a></li>
          <li ng-if="hasSeasonPeriod()"><a du-scrollspy="season" du-smooth-scroll offset='0' href="#season">Season</a></li>
          <li><a du-scrollspy="nutritions" du-smooth-scroll offset='0' href="#nutritions">Nutritions</a></li>
        </ul>
      </div>
    </div>

    <!-- Right content -->
    <div class="section col s12 m9 l10">

      <!-- Presentation -->
      <div class="row" id="presentation">
        <a href="" ng-click="deleteIngredient()"><i class="mdi-action-delete btn-icon btn-icon-delete"></i></a>
        <a ng-href="#/ingredient/{{ ingredient.id }}/edit"><i class="mdi-action-settings btn-icon btn-icon-settings" style="margin-right: 15px;"></i></a>

        <p class="title">{{ ingredient.name }}</p>
        <div class="ratio-container hide-on-med-and-up" style="padding: 8px 18px; width: auto;">
          <div class="ratio-4_3 background-image" ng-style="{'background-image': 'url(http://nourriture.dennajort.fr{{ingredient.photo_url}})'}"></div>
        </div>

        <p class="sub-title">Presentation</p>
        <div class="row">
          <div class="col m12" ng-bind-html="ingredient.description | sanitize"></div>
        </div>
      </div>

      <!-- Season period -->
      <div class="row" id="season" ng-if="hasSeasonPeriod()">
        <p class="sub-title">Season</p>
        <div class="row">
          <div data-ng-repeat="p in ingredient.period track by $index" ng-class="p == 1 ? 'month-selected' : ''" class="col s2 m2 l1 month" style="cursor: auto;">
            {{ months[$index] }}
          </div>
        </div>
      </div>

      <!-- Nutritions -->
      <div class="row" id="nutritions">
        <p class="sub-title">Nutritions</p>
        <div class="row">

          <table class="striped centered">
            <thead class="table-thead">
              <tr>
                <th data-field="designation" style="width: 40%;">Designation</th>
                <th data-field="value" style="width: 30%;">Value</th>
                <th data-field="dailyValue" style="width: 30%;">% Daily Value*</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="nutrition in ingredient.nutritions">
                <td>{{ nutrition.designation || 'Unknown' }}</td>
                <td>{{ nutrition.value || 'Unknown' }}</td>
                <td>{{ nutrition.dailyValue || 'Unknown' }}</td>
              </tr>
            </tbody>
          </table>

          <p>
            *Percent Daily Values are based on a 2,000 calorie diet. Your daily values may be higher or lower depending on your calorie needs.
          </p>
        </div>
      </div>

    </div>

  </div>
</div>

<script ng-if="loaded">
</script>
