<div class="home-bandeau">

    <div class="row">
      <div class=" col l6 offset-l3 m8 offset-m2 s12 home-search-bar-border">
        <div class="input-group">
            <input class="input-text-default" type="text" placeholder="Find Everything on Nourriture..."/>
            <i class="mdi-action-search icon-search-bar"></i>
        </div>
        <div class="container-horizontal-list" style="margin-top: 10px;">
          <ul>
            <li><a href="#/ingredients" ng-click="changeCategory('all')">All</a></li>
            <li><a href="#/ingredients" ng-click="changeCategory('vegetable')">Vegetables</a></li>
            <li><a href="#/ingredients" ng-click="changeCategory('fruit')">Fruits</a></li>
            <li><a href="#/ingredients">Spices</a></li>
            <li><a href="#/ingredients">Eggs</a></li>
            <li><a href="#/ingredients">Cheeses</a></li>
            <li><a href="#/ingredients">Chocolate</a></li>
          </ul>
        </div>
      </div>
    </div>
</div>



<div class="container" style="background-color: #9b59b6;">
  <div class="row">

    <div ng-repeat="ingredient in ingredients" class="col s12 m6 l4" style="padding: 20px;">
      <a ng-href="#/ingredient/{{ ingredient._id }}">
        <div class="ingredient-img-container">
          <img src="http://nourriture.dennajort.fr/{{ingredient.photo_url}}" alt="img01" height="100%">
        </div>
      </a>
    <div>

  </div>
</div>
