<div class="container-fluid">

<div class="row text-center" style="margin-top: 20px;">
  <img src="/images/burger.png" height="80"/>
  <p style="padding: 8px 12px; margin-top: 15px;">Sign in and enjoy all the features of the <span class="keyword-orange">nourriture</span> platform.</p>
</div>

<div class="row text-center">

  <div class="col-md-2 col-md-offset-3" style="margin-top: 30px;">

    <p class="login-title-section">Sign in with social account</p>
    <form role="form">
      <button type="submit" class="btn btn-default login-social-btn login-facebook-btn">Use your Facebook account</button>
      <button type="submit" class="btn btn-default login-social-btn login-google-btn">Use your Google+ account</button>
    </form>
  </div>


  <div class="col-md-2 col-md-offset-2" style="margin-top: 30px;" ng-controller="LogInFormCtrl">

    <p class="login-title-section">Sign in with email</p>

    <form role="form" name="formLogIn" ng-submit="submitLogIn(formLogIn.$valid)" novalidate>
      <div class="form-group" ng-class="{ 'has-error' : submitted && ((formLogIn.loginInputEmail.$required) || (formLogIn.loginInputEmail.$invalid)) }">
        <input required ng-model="loginInputEmail" name="loginInputEmail" type="email" class="form-control login-form-input" placeholder="Email">
        <p ng-show="submitted && formLogIn.loginInputEmail.$error.required" class="help-block">The email is required and cannot be empty.</p>
        <p ng-show="!formLogIn.loginInputEmail.$error.required && formLogIn.loginInputEmail.$invalid && submitted" class="help-block">The email address is not valid.</p>
      </div>
      <div style="margin-top: 30px;" class="form-group" ng-class="{ 'has-error' : submitted && formLogIn.loginInputPassword.$error.required }">
        <input required name="loginInputPassword" ng-model="loginInputPassword" type="password" class="form-control login-form-input" placeholder="Password">
        <p ng-show="submitted && formLogIn.loginInputPassword.$error.required" class="help-block">The password is required and cannot be empty.</p>
      </div>

      <input style="margin-top: 15px;" type="submit" class="btn btn-default login-submit-btn" value="Sign in"/>
    </form>
  </div>

</div>


</div>
