<div class="container">

<div class="row center" style="margin-top: 30px;">
  <img src="/images/burger.png" height="60"/>
  <p style="padding: 8px 12px; margin-top: 15px;">Sign in and enjoy all the features of the <span class="keyword">nourriture</span> platform.</p>
</div>

<div class="row">
  <div class="col s10 offset-s1 m6 offset-m3 l4 offset-l4"  style="margin-top: 30px;">
  <div class="row" ng-controller="LogInFormCtrl">
    <form role="form" class="col s12" name="formLogIn" ng-submit="submitLogIn(formLogIn.$valid)" novalidate>

      <!-- input email -->
      <div class="row">
        <div class="input-field col s12">
          <input required ng-change="badPassword = false" ng-model="loginInputEmail" name="loginInputEmail" id="loginInputEmail" type="email">
          <label for="loginInputEmail">Address mail</label>
          <div class="has-error-block" ng-show="submitted && formLogIn.loginInputEmail.$error.required">The email adress is required and cannot be empty.</div>
          <div class="has-error-block" ng-show="submitted && !formLogIn.loginInputEmail.$error.required && formLogIn.loginInputEmail.$invalid">The email address is not valid.</div>
        </div>
      </div>

      <!-- input password -->
      <div class="row">
        <div class="input-field col s12">
          <input required ng-change="badPassword = false" ng-model="loginInputPassword" name="loginInputPassword" id="loginInputPassword" type="password">
          <label for="loginInputPassword">Password</label>
          <div class="has-error-block" ng-show="submitted && formLogIn.loginInputPassword.$error.required">The password is required and cannot be empty.</div>
        </div>
      </div>

      <!-- input checkbox -->
      <p style="margin-top: 30px;">
        <input type="checkbox" id="remember" />
        <label style="font-size: 15px;" for="remember">Remember me ?</label>
      </p>

      <div class="has-error-block" ng-show="badPassword" style="margin-top: 20px;">
        The email address or password you entered is not valid. Please try again.
      </div>
      <div class="center">
        <button style="margin-top: 30px;" type="submit" class="waves-effect waves-light btn">Sign in</button>
      </div>
    </form>
  </div>
  </div>
</div>

<div class="row text-center" style="margin-top: 50px;">
  <a class="a-normal" href="#/registerUser">New on <span class="keyword">nourriture</span> ? <span class="keyword-red">Join us</span> !</a>
</div>

<script type="text/javascript" src="/bower/materialize/bin/materialize.js"></script>

</div>
