<div class="container-fluid">

<div class="row text-center" style="margin-top: 20px;">
  <img src="/images/fraise.png" height="80"/>
  <p style="padding: 8px 12px; margin-top: 15px;">Joins us and enjoy all the features of the <span class="keyword-orange">nourriture</span> platform.</p>
</div>

<div class="row text-center">
Blabla
</div>

<div class="row text-center" style="margin-top: 50px;">
  <a class="a-normal" href="#/login">Already member on <span class="keyword-orange">nourriture</span> ? <span class="keyword-red">Sign in</span> !</a>
</div>

</div>
