.form-control.add-recipe-time-value {
  width: 100%;

  @media (min-width: @screen-sm-min) {
    width: 40%;
  }
}

.form-control.add-recipe-time-unit {
  width: 100%;

  @media (min-width: @screen-sm-min) {
    width: 60%;
  }
}

.add-recipe-remove-step-icon {
  font-size: 20px !important;
  cursor: pointer;
}

.add-recipe-step-text {
  max-width: 100%;
}

#descriptionAddRecipe {
  max-width: 100%;
}
