@mainColor: #2196F3;
@screen-s-max: 599px;
@screen-m-min: (@screen-s-max + 1);
@screen-m-max: 991px;
@screen-l-min: (@screen-m-max + 1);
@screen-l-max: 1199px;
@screen-ll-min: (@screen-l-max + 1);

body {
}

nav ul li {
  height: 64px;
}

nav ul li a {
  outline: none;
}

ul.tabs li.tab {
  max-width: 50%;
}

nav a.button-collapse {
  position: absolute !important;
}

.ingredient-img-container {
  overflow: hidden;
  width: 100%;
  text-align: center;

  img {
    display:inline-block;
    margin:auto;
  }
}

@media (max-width: @screen-s-max) {
  .container {
    width: 100%;
  }
}

@media (min-width: @screen-m-min) and (max-width: @screen-m-max) {
  .container {
    width: 600px;
  }

  .ingredient-img-container {
    height: 189px;
  }
}

@media (min-width: @screen-l-min) and (max-width: @screen-l-max) {
  .container {
    width: 992px;
  }

  .ingredient-img-container {
    height: 213px;
  }
}

@media (min-width: @screen-ll-min) {
  .container {
    width: 1200px;
  }

  .ingredient-img-container {
    height: 266px;
  }
}

.home-bandeau {
  /*background-image: url('/images/home-bandeau-search.jpeg');*/
  background-color: #2ecc71;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.home-search-bar {
  background-color: pink;
  margin: 0px;
}

.home-search-bar-border {
  padding: 12px !important;
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.15);
}

.icon-search-bar {
  font-size: 2.3rem;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 60px;
  cursor: pointer;
}

.icon-search-bar:hover {
  color: #EE6E73;
}

.bandeau {
  /*background-image: url('/images/home-bandeau-search.jpeg');*/
  background-color: #2ecc71;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.container-horizontal-list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container-horizontal-list ul li {
  display: inline;
  padding: 12px 6px;
}

.container-horizontal-list ul li a {
  color: black;
  outline: none;
}

.container-horizontal-list ul li a:hover {
  color: #EE6E73;
}

.input-text-default {
  border: none !important;
  box-shadow: none !important;
  margin: 0 !important;
  padding: 20px 20px !important;
  padding-right: 10px !important;
  height: auto !important;
  -webkit-box-sizing: border-box !important; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box !important;    /* Firefox, other Gecko */
  box-sizing: border-box !important;         /* Opera/IE 8+ */
}

.input-group {
  display: table;
  border-collapse: separate;
  position: relative;
  background-color: white;
  width: 100%;
}


.header {
  color: #EE6E73;
  font-weight: 300;
}

.brand-logo {
  outline: none;
}

.has-error-block {
  display: block;
  margin-top: -10px;
  text-align: left;
  font-size: 12px;
  color: #F44336;
}

.brand-text {
  font-family: myKGBlankSpaceSketch;
  font-size: 22px;
  color: white;
  line-height: 26px;
}

.brand-text:hover {
  color: #ffebee;
}

.keyword {
  color: @mainColor;
  font-weight: bold;
}

.a-normal, .a-normal:hover, .a-normal:active, .a-normal:focus {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
